/* Make sure to add this file to your project */

/* Main progress bar */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: hsl(var(--primary));
  height: 3px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow:
    0 0 10px hsl(var(--primary)),
    0 0 5px hsl(var(--primary));
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0;
  transform: rotate(3deg) translate(0px, -4px);
  width: 100px;
}

/* Remove spinner */
#nprogress .spinner {
  display: none;
}
